{{#d-modal-body title="discourse_jira.attach_issue"}}
  {{#if issueUrl}}
    <p>{{i18n "discourse_jira.issue_creation_success" issueKey=issueKey}}</p>
    <p><a href={{issueUrl}}>{{issueKey}}</a></p>
  {{else}}
    <div class="form">
      <section class="field">
        <section class="field-item">
          <label>{{i18n "discourse_jira.attach_form.issue_key"}}</label>
          {{input value=issueKey class="jira-key" autofocus="autofocus"}}
        </section>
      </section>
    </div>
  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{#if issueUrl}}
    {{d-button
      class="btn-primary"
      action=(action "cancel")
      label="discourse_jira.attach_form.continue"
    }}
  {{else}}
    {{d-button
      class="btn-primary"
      action=(action "attachIssue")
      label="discourse_jira.attach_issue"
      disabled=disabled
      isLoading=loading
    }}

    <a class="cancel-action" href {{action "cancel"}}>{{i18n "cancel"}}</a>
  {{/if}}
</div>
